<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GongBang</title>
<!--	<link rel="stylesheet" type="text/css" href="/static/css/screen.css">
	<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>
	<script src="static/js/lightbox.min.js"></script>
-->
</head>
<body>

            </div>
	<div class="row">
		<div class="col-md-4"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
		<div class="col-md-4"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
		<div class="col-md-4"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
	</div>
	
</body>
</html>