<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gongbang</title>
	<link rel="stylesheet" type="text/css" href="/static/css/first.css">
	<script src="static/js/first_main.js"></script>
</head>
<body>
	<div class="first_top">
		<a href ="/login.html"><img src="/static/images/login.png"></a>
		<a href ="/login.html"><img src="/static/images/join.png"></a>
	</div>

	<div id="cbp-fwslider" class="cbp-fwslider">
	<ul>
		<li><img src="/static/images/15.jpg" /></li>
		<li><img src="/static/images/31.jpg" /></li>
		<li><img src="/static/images/3718333003_3f3b28d5_l2.jpg" /></li>
		<li><img src="/static/images/PD021_s.jpg" /></li>
	</ul>
	</div>
	
</body>
</html>




<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hellow</title>
	<link rel="stylesheet" type="text/css" href="/static/css/first_main.css">
	<script src="static/js/first_main.js"></script>

<!--	<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">
	<script src="static/js/lightbox.min.js"></script>
-->
</head>
<body>
	<div class="first_top">
		<a href ="/login.html"><img src="../../static/images/login.png"></a>
		<a href ="/login.html"><img src="../../static/images/join.png"></a>
	</div>
	<div class="row">
		<div class="col-md-2"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
		<div class="col-md-8"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
		<div class="col-md-2"><img class="example-image" src="show/{{ items.key() }}" alt=""></div>
	</div>

	<div id="cbp-fwslider" class="cbp-fwslider">


	<ul>
		{% for items in main_list %}
		<li><img src="show/{{ items.key() }}" /></li>
		{% endfor %}
	</ul>

</div>
	
</body>
</html>